.secondary-color{
  background-color:#AAFFAA;
}
.primary-color{
  background-color:#5c6bc0;
}
.margen-img-home{
  margin-top: 4%;
}
.margen-rectangulos{
  margin-top: 15%;
}
.page-navbar{
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
.pacifico-font{
  font-family: 'Pacifico', cursive;
}
.sidebar{
 color: white;
 position: fixed;
 z-index: 1000;
 bottom: 0;
 top: 0;
}
.blog-icons{
  color: white;
  padding-top: 40%;
  padding-bottom: 40%;
}
.icon-active{
  background-color: #5361ad;
  width: 100%;
}
.margen-img-about{
  margin-top: 8%;
}
.underline{
  border-bottom: 4px solid #5c6bc0;
}
