<footer class="page-footer green darken-1">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <p class="white-text center-align">
                    Crafted with <i class="fa fa-heart"></i>
                    in Las Palmas
                </p>
            </div>
            <div class="col s12 l3 m6">
                <p class="white-text center-align">
                    <i class="material-icons">phone</i>
                    +34-674-701-422
                </p>
            </div class="col s12 l3 m6">
                <p class="white-text center-align">
                    <i class="material-icons">email</i>
                    nikitatchayka@gmail.com
                </p>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p class="center-align">
                © 2015 All rights reserved
            </p>
        </div>
    </div>

  </div>

</footer>
