<header>

        <nav>
          <div class="nav-wrapper orange lighten-2 z-depth-4">
              <a class="brand-logo main-logo black-text" href="{{ site.baseurl }}">{{ site.title }}</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">

                  {% for page in site.pages %}
                      {% if page.title %}
                      <li><a class="flow-text black-text" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                      {% endif %}
                  {% endfor %}

              </ul>
          </div>
        </nav>

</header>
