---
import Card from "./Card.astro";

import { getCollection, type CollectionEntry } from "astro:content";

const allPosts: CollectionEntry<"talks">[] = (await getCollection("talks"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .filter((a) => Boolean(a.data.videoId))
  .slice(0, 3);
---

<section id="Talks" class="container mx-auto px-6 mt-18">
  <div class="overflow-hidden mb-12">
    <div class="flex animate-scroll">
      <div class="flex shrink-0 whitespace-nowrap">
        {
          Array.from({ length: 10 }).map((_) => (
            <h2 class="heading text-5xl md:text-9xl uppercase mr-4 md:mr-8 -mb-2">
              Talks
            </h2>
          ))
        }
      </div>
      <div class="flex shrink-0 whitespace-nowrap" aria-hidden="true">
        {
          Array.from({ length: 10 }).map((_) => (
            <h2 class="heading text-5xl md:text-9xl uppercase mr-4 md:mr-8 -mb-2">
              Talks
            </h2>
          ))
        }
      </div>
    </div>
  </div>
  {allPosts.map((post) => <Card entry={post} />)}
  <div>
    <div class="flex flex-col justify-center md:flex-row gap-2.5">
      <a
        class="w-full text-2xl sm:w-auto flex items-center justify-center bg-foreground text-background rounded-2xl py-3 px-6 sm:py-4 sm:px-10 cursor-pointer hover:bg-background hover:outline hover:outline-1 hover:outline-dashed hover:outline-secondary hover:text-foreground transition"
        href="/talks">More Talks</a
      >
    </div>
  </div>
</section>

<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 15s linear infinite;
  }
</style>
