<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nick Seagull's Garage - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>

        <div id="logo">Nick Seagull's Garage</div>
	<p>
          <a href="/">Home</a>
          ||
          <a href="/archive.html">Stuffs</a>
	</p>

	<hr/>

	<div id="content">
	<h1>$title$</h1>
        $body$
	</div>

	<hr/>

        <footer>
            Made with
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
        </footer>
    </body>
</html>
