---
---
<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <script src="js/blog.js" type="text/javascript"></script>
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <title>Nick Seagull's Blog</title>
</head>
<body>
  <div class="">
    <div class="row">
      <div class="col s1 primary-color sidebar">
        <ul class="center">
          <img src="{{ "/assets/portrait.jpg" | prepend: site.url }}" class="circle responsive-img" alt="" />
          <li><a class="fa fa-home fa-2x blog-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Home" href="{{ "/index.html" | prepend: site.url }}"></a></li>
          {% for post in site.posts limit:1 %}
          <li><a class="icon-active fa fa-book fa-2x blog-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Blog" href="{{ post.url | prepend: site.url }}"></a></li>
          {% endfor %}
          <li><a class="fa fa-user-secret fa-2x blog-icons tooltipped" data-position="right" data-delay="50" data-tooltip="About" href="{{ "/about.html" | prepend: site.url }}"></a></li>
          <li><a class="fa fa-comments fa-2x blog-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Contact" href="{{ "/contact.html" | prepend: site.url }}"></a></li>
        </ul>
      </div>
      <div class="col s11">
        <div class="container">
          <h2 class="center pacifico-font underline">{{ page.title }}</h2>
          <p class="post-content flow-text">
            {{ content }}
          </p>
          <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large red tooltipped" data-position="left" data-delay="50" data-tooltip="All posts" href="{{ site.baseurl }}/posts.html">
              <i class="fa fa-plus"></i>
            </a>
          </div>
          {% include comments.html %}
        </div>
      </div>
    </div>

  </div>

</body>
</html>
